.navbar{
    background-color: #8F3A4808;
}

.marginmenu{
    padding-left: 415px;
    font-family: 'Times New Roman', Times, serif;
}

.margincamisetas1{
    padding-bottom: 9px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.Camisetas{
    background-color: #ffffff;
}

.classinverno{
    background-color: #ffffff;
}

.pagamento{
    color: black;
}

.classrodape{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    }




